body {
  margin: auto !important;
  text-align: center !important;
  margin-top: 50px !important;
  background-image: url('/img/halftone.png');
}

fieldset.step{
  background: #8db3a9;
}

select {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 35px;
}

/* Login/Register Styling */

#wrapper h1 {
  -webkit-text-fill-color: #5A6E79 !important;
  //color: blue !important;
}

#wrapper p.button input {
  background-color: #5A6E79;
  border: none !important;
}

#wrapper p.button input:hover {
  background-color: #A4ACAF;
}

#wrapper p.change_link a {
  color: #6A9FAB;
}

#wrapper p.change_link a:hover {
  color: #5A6E79;
  border-color: #5A6E79;
}

/* Profile Setup Styling */

#rapper.step {
  margin-top: 21px;
  margin-left: 130px;
  border-radius: 20px !important;
  max-width: 40%;
  min-width: 30%;
  background-color: white;
  //float: left;
  position: absolute;
}

#rapper {
  box-shadow: 4px 4px 7px #545454 !important;
  // margin-left: 100px;
  margin: auto;
  border: none !important;
}

h1#profilesetup {
  margin-top: 75px;
  margin-bottom: 20px;
}

#steps form legend {
  background-color: #8DB3A9;
  border: none;
}

#steps{
  background-color: #8DB3A9;
}

.basics, .physical, .about, .account {
  color: #FFF6C4 !important;
  text-shadow: none !important;
  font-weight: normal !important;
  margin-left: 90px !important;
}

#profilesetup {
  color: #B56C63
}

#registerButton {
  background-color: #5A6E79 !important;
  font-weight: normal !important;
}

#registerButton:hover {
  background-color: #B56C63 !important;
  color: #FFF6C4 !important;
  text-shadow: none !important;
}

ul.navigation {
  margin-bottom: 0px !important;
}

#navigation {
  background-color: #8DB3A9;
  //margin: 10px;
  //padding-left: -10px !important;
  border: none !important;
  height: 55px;
}

ul.navigation li {
  width: 138px;
  margin: 0px !important;
}

#navigation ul li a:hover {
  background-color: #5A6E79;
  color: white;
  text-shadow: none !important;
  border: none;
}

#navigation ul li.selected {
  background-color: #B56C63 !important;
}

.setup {
  text-align: left !important;
}

/* PROFILE VIEW STYLING */

#background{
  padding-bottom: 80px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #8F785E),
    color-stop(1, #5C4E3E)
  );
  background-image: -o-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: -moz-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: -webkit-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: -ms-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: linear-gradient(to top, #8F785E 0%, #5C4E3E 100%);
}

#background2{
  background: #EEE2D6;
}

#contain{
  background-image: url('../img/tan.jpg');
  background-size: cover;
}

#contain2{
  background-image: url('../img/bg4.jpg');
  background-size: contain;
}

#contain, #contain2{
  width: 90%;
  padding: 30px;
  margin: auto;
  margin-top: 90px;
  border-radius: 5px;
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

#contain:before, #contain:after, #contain2:before, #contain2:after{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

#contain:after, #contain2:after{
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}

#pic{
  background-size: cover;
  background-position: center;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 2px 2px 2px rgb(156, 156, 156);
  margin: auto;
}

#name1 {
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 25px;
  color: white;
  text-align: center;
  width: 260px;
  height: 80px;
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  background-image: -webkit-gradient(
  	linear,
  	left top,
  	left bottom,
  	color-stop(0, #8F785E),
  	color-stop(1, #5E472D)
  );
  background-image: -o-linear-gradient(bottom, #8F785E 0%, #5E472D 100%);
  background-image: -moz-linear-gradient(bottom, #8F785E 0%, #5E472D 100%);
  background-image: -webkit-linear-gradient(bottom, #8F785E 0%, #5E472D 100%);
  background-image: -ms-linear-gradient(bottom, #8F785E 0%, #5E472D 100%);
  background-image: linear-gradient(to bottom, #8F785E 0%, #5E472D 100%);
}
#name1:before {
  content:"";
  position: absolute;
  bottom: 100%;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 26px solid #8F785E;
}

#name2{
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 25px;
  color: white;
  text-align: center;
  width: 260px;
  height: 80px;
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #949E88),
	color-stop(1, #BCC4B5)
  );
  background-image: -o-linear-gradient(bottom, #949E88 0%, #BCC4B5 100%);
  background-image: -moz-linear-gradient(bottom, #949E88 0%, #BCC4B5 100%);
  background-image: -webkit-linear-gradient(bottom, #949E88 0%, #BCC4B5 100%);
  background-image: -ms-linear-gradient(bottom, #949E88 0%, #BCC4B5 100%);
  background-image: linear-gradient(to bottom, #949E88 0%, #BCC4B5 100%);
}

#name2:before{
  content:"";
  position: absolute;
  bottom: 100%;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 26px solid #949E88;
}

.section1.middle, .section2.middle{
  background: none;
  height: 100%;
}

.holder{
  overflow-y: auto;
  overflow-x: hidden;
}

.section1.left, .section2.left, .section1.right, .section2.right{
  height: 270px;
  font-size: 17px;
  padding-top: 10px;
  margin: 15px auto;
  border-radius: 7px;
  line-height: 30px;
  position:relative;
  top: 70px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.section1.left:before, .section2.left:before, .section1.right:before, .section2.right:before, .section1.left:after, .section2.left:after, .section1.right:after, .section2.right:after{
  content:"";
  position:absolute;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top: 0px;
  bottom: 0px;
  left: 1px;
  right: 1px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

.section1.left:after, .section2.left:after, .section1.right:after, .section2.right:after{
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}

.section1.left, .section1.right{
  background: rgba(192, 199, 185, 0.7);
  color: rgb(71, 40, 19);
}

.section2.left, .section2.right{
  background: rgba(192, 199, 185, 0.7);
  color: rgb(71, 40, 19);
}

.section1.right, .section2.right{
  text-align: left;
  padding: 15px 15px 15px 40px;
  text-transform: capitalize;
}

// .activitydescription {
//   border-bottom: 1px solid gray;
//   padding-bottom: 5px;
//   border-length: 10px;
// }

#subject, #messagebody {
  margin: auto;
  display: block;
}

#toUser, #fromUser {
  margin-bottom: 10px;
  font-size: 17px;
  color: #5A6E79;
}

#subject.form-control, #messagebody {
  width: 550px;
  margin-bottom: 10px;
}

/* NAVBAR STYLING */

.navbar-text {
  padding-top: 5px;
}

a.navbar-text {
  font-size: 17px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  height: 50px;
  padding-right: 20px;
}

.navbar-inverse {
  background-color: #5A6E79;
  // background-color: #FFF6C4;
  border: none;
  box-shadow: 1px 1px 3px black;
}

.navbar-text {
  color: #ADB3B1 !important;
  // color: #9C3158 !important;
  margin: 0px;
}

// .li:hover {
//   background-color: #5E7788 !important;
//   color: #FFF6C4 !important;
// }

.navbar-text:hover {
  color: #FFF6C4 !important;
  background-color: #B56C63 !important;
}

#wrapper {
  margin-top: 50px;
}

#appname {
  background-image: url('/img/newDate-outline.svg');
  background-repeat: no-repeat;
  background-cover: cover;
  width: 600px;
  height: 150px;
  //margin-bottom: 200px;
  //float: left;
  margin: auto !important;
  text-align: center !important;
  //margin-right: 470px !important;
}

/* Message Me Buttons */
.button-holder {
	background: #none;
  position: relative;
}

.button-holder > div > div, .button-holder > div > a {
	display: block;
	width: 120px;
	height: 52px;
	font-size: 2em;
	padding: 10px 30px;
	margin: 15px auto 0 auto;
  border-radius: 7px;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'adelle-sans', sans-serif;
  color: #5E472D;
}

.center-content {
	 margin: 0px auto;
}

.button-holder div a {
	text-decoration: none;
	color: rgba(0,0,0,0.7);
}

.white {
	background: white;
}

.type-3 {
	-webkit-transition: -webkit-transform 0.3s linear, background 0.3s linear 0.3s;
	transition: transform 0.3s linear, background 0.3s linear 0.3s;
	background: #5A6E79;
}

.type-3 span {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	opacity: 1;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 9px 0;
	-webkit-transition: all 0.3s linear 0.3s;
	transition: all 0.3s linear 0.3s;
	text-align: center;
}

.type-3:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	background: #5A6E79;
  color: white;
}

.type-3 span:nth-of-type(2), .type-3 span:nth-of-type(3) {
  border-radius: 7px;
	background: white;
	clip: rect(0px, 9999px, 26px, 0px);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.type-3 span:nth-of-type(3) {
	clip: rect(26px, 9999px, 52px, 0px);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.type-3:hover span:nth-of-type(2), .type-3:hover span:nth-of-type(3) {
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	background: #bbb;
}

/* Dashboard Page Design */

.a_demo_four.view:hover, .a_demo_four.edit:hover {
  text-decoration: none;
  color: #B56C63;
}

/* Search Section */

.dashboardsearch {
  margin-bottom: 20px !important;
  font-weight: normal !important;
  background-color: #B56C63 !important;
  text-shadow: none !important;
}

.dashboardsearch:hover {
  background-color: #5A6E79 !important;
  text-shadow: none !important;
  color: white !important;
}

.searchlegend {
  width: 100% !important;
  text-align: center !important;
  background-color: #8DB3A9 !important;
  color: #444444 !important;
  text-shadow: none !important;
  font-weight: normal !important;
  border-top: none !important;
}

legend.searchlegend.s{
  padding: 5px 0px 5px 0px !important;
}

.allp{
  margin: 5px auto !important;
  width: 80% !important;
  margin-left: 10% !important;
  padding: 1px 10px !important;
}

.allp.last{
  margin-bottom: 10px !important;
}

#steps.step.cover{
  width: 40% !important;
  margin: 20px !important;
  border-radius: 20px;
  box-shadow: 4px 4px 7px #545454 !important;
}

#steps.step.cover.right{
  position: absolute;
  right: 20px;
  //border: 1px solid black;
  border-radius: 20px;
  height: 350px;
}

fieldset.step.holder {
  width: 100% !important;
}

label.labels {
  width: 100% !important;
  text-align: left !important;
  margin-right: 10px;
  font-size: 17px;
}

select.selects {
  width: 60% !important;
}

button.btn.search{
  margin-bottom: 25px !important;
  background-color: #4b3f39 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size:12px !important;
  text-decoration:none !important;
  color:#fff !important;
  border-radius: 5px !important;
  width: 133px !important;
  text-shadow: none !important;
  box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #322620, 0px 10px 5px #999 !important;
}

button.btn.search:hover{
  text-shadow: none !important;
}

/* Profile Section */

#profilepic{
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 2px 2px 2px rgb(156, 156, 156);
  margin: 30px auto;
}

.a_demo_four {
  margin: auto;
  background-color:#4b3f39;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  text-decoration:none;
  color:#fff;
  position:relative;
  padding:10px 20px;
  padding-right:50px;
  background-image: linear-gradient(bottom, rgb(62,51,46) 0%, rgb(101,86,78) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #322620, 0px 10px 5px #999;
}

.a_demo_four:hover{
  color: white;
  text-decoration: none;
}

.a_demo_four:active {
  top:3px;
  background-image: linear-gradient(bottom, rgb(62,51,46) 100%, rgb(101,86,78) 0%);
  box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #322620, 0px 5px 3px #999;
}

.a_demo_four.view::before{
  background-image:url(../img/eye.svg);
}

.a_demo_four.edit::before{
  background-image:url(../img/pencil.svg);
}

.a_demo_four::before {
  background-color:#322620;
  background-repeat:no-repeat;
  background-position:center center;
  content:"";
  width:23px;
  height:23px;
  position:absolute;
  right:15px;
  top:50%;
  margin-top:-9px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
}

.a_demo_four:active::before {
  top:50%;
  margin-top:-12px;
  box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}

.btns{
  width: 40%;
  display: inline-block;
  position: relative;
  top: 50px;
}

/* Activities Section */

#steps.step.cover.clear{
  height: 500px;
  clear: both;
  border-radius: 20px !important;
  overflow: auto;
  background-color: #8DB3A9;
  border-radius: 7px;
}

.actH3.inbox {
  border-bottom: 2px solid #4B3F39;
  padding-bottom: 20px;
  margin: 10px;
}

.activity {
  margin: 10px 0px;
  font-size: 18px;
  padding: 10px;
  overflow: hidden;
}

.activity:nth-child(even) {
  background-color: #F5EEDF;
  border-radius: 7px;
}

.activityname a, .activitydate a, .activitydescription a {
  margin-bottom: 10px;
  diplay: inline-block;
  color: #B56C63;
}

.activityname a:hover {
  text-decoration: none !important;
  color: #5A6E79;
}

.activityname {
  font-weight: bold;
}

/* Messages Section */

#steps.step.cover.clear.right{
  top: 500px;
  height: 620px;
  border-radius: 20px;
}

/* Writing a Message Styling */

#messagediv {
  border-radius: 20px;
  //border: 1px solid black;
  width: 700px;
  margin: auto;
  height: 450px;
  margin-top: 100px;
  background-color: #8DB3A9;
  box-shadow: 4px 4px 7px #545454 !important;
}

#messageh1 {
  padding-top: 30px;
  color: #FDFEE9;
}

#sendmessage {
  background-color: #B56C63;
  border-color: #B56C63;
  color: #FDFEE9;
  margin-top: 20px;
}

#sendmessage:hover {
  background-color: #5A6E79;
  border-color: #5A6E79;
  color: #FFF6C4;
}

/* Activity Show Page Styling */

#showactivity {
  border-radius: 20px;
  //border: 1px solid black;
  width: 700px;
  margin: auto;
  height: 400px;
  margin-top: 100px;
  background-color: #8DB3A9;
  box-shadow: 4px 4px 7px #545454 !important;
  padding-top: 15px;
}

#activityname {
  //margin-top: 100px !important;
  font-weight: bold;
  color: #FDFEE9;
}

p.activityinfo {
  font-size: 20px;
  font-weight: bolder;
  color: #B56C63;
}

h4 {
  color: #5A6E79;
}

#subject, #messagebody {
  margin: auto;
  display: block;
}

#toUser, #fromUser {
  margin-bottom: 10px;
  font-size: 17px;
  color: #B56C63;
}

#subject.form-control, #messagebody {
  width: 550px;
  margin-bottom: 10px;
}

// .rsvp {
//   background-color:
// }

.rsvp {
  margin-top: 10px;
  background-color: #FDFEE9;
  border-color: #FDFEE9;
  color: #B56C63;
}

.rsvp:hover {
  background-color: #B56C63;
  border-color: #B56C63;
  color: #FDFEE9;
}

/* Search Results Styling */

.result{
  width: 40%;
  display: inline-block;
  margin: 20px;
  height: 250px;
}

.img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin-right: 20px;
}

.resultinfo{
  height: 100%;
  display: inline-block
}
