body {
  margin: auto;
  text-align: center !important;
  // background-image: url('/img/background2.jpg');
  // background-size: cover;
  // background-attachment: fixed;
  // background-position: center;
  background-color: #725445;
  margin-top: 100px;
}

#background{
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #8F785E),
    color-stop(1, #5C4E3E)
  );
  background-image: -o-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: -moz-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: -webkit-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: -ms-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: linear-gradient(to top, #8F785E 0%, #5C4E3E 100%);
}

#background2{
  background: #EEE2D6;
}

.row {
  margin: auto;
  text-align: center;
}

.dashboard {
  float: left;
  position: absolute;
  margin-left: 50px;
  color: white;
  margin-top: 30px;
  font-size: 30px;
}

.username {
  display: inline-block;
  float: right;
  margin-top: 30px;
  margin-right: 150px;
  font-size: 30px;
  color: white;
}

.container {
  width: 1000px;
  margin: auto;
}

#activities {
  max-width: 40%;
  height: 400px;
  overflow: auto;
  margin-left: 130px;
  margin-top: 45px;
  background-color: white;
  //border-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  //float: right;
  position: absolute;
  //top: 75px;
  border: 3px solid transparent;
  ::-webkit-scrollbar {
    width: 12px;
    heigth: 50px;
    //border-radius: 10px !important;
  }

  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      heigth: 50px !important;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}

#profile {
  //max-width: 30% !important;
  height: 500px;
  // margin-left: 45px;
  // margin-top: 20px;
  // margin-right: 230px;
  // margin-bottom: 45px;
  background-color: white;
  border-radius: 20px;
  //float: right;
  position: relative;
  left: 800px;
  top: 22px;
}

#messages {
  //border: 1px solid tomato;
  width: 30%;
  height: 454px;
  margin-left: 745px;
  //margin-top: 45px;
  //background-color: rgba(255,255,255,0.2);
  background-color: white;
  border-radius: 20px;
  //float: right;
  margin-right: 230px;
  margin-top: -455px;
}

.searchzip {
  margin-right: 10px;
}

.searchzip.form-control {
  width: 150px;
  display: inline;
  margin-left: 100px;
}

select {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 35px;
}

label.labels {
  margin-right: 10px;
  font-size: 17px;
  color: #AAE5DF;
  //-webkit-text-stroke: 0.5px black
  text-shadow: 2px 2px 2px black;
}

// h3 {
//   color: #666;
//   font-weight: bold;
//   text-align: left;
//   //background-color: #f0f0f0;
//   // border-radius: 20px !important;
//   text-shadow: 1px 1px 1px #fff;
//   padding: 5px 0px 5px 10px;
//   margin: 10px 0px;
//   border-bottom: 1px solid #fff;
//   border-top: 1px solid #d9d9d9;
// }

.searchlegend {
  text-align: center !important;
  background-color: white !important;
  color: #444444 !important;
  text-shadow: none !important;
  font-weight: normal !important;
  border-top: none !important;
}

#rapper.step {
  margin-top: 21px;
  margin-left: 130px;
  border-radius: 20px !important;
  max-width: 40%;
  min-width: 30%;
  background-color: white;
  //float: left;
  position: absolute;
}

#rapper {
  box-shadow: none !important;
}

.activitiesrow {
  //padding-top: 20px;
  //margin-top: 75px;
  //border-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

#background{
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #8F785E),
    color-stop(1, #5C4E3E)
  );
  background-image: -o-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: -moz-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: -webkit-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: -ms-linear-gradient(top, #8F785E 0%, #5C4E3E 100%);
  background-image: linear-gradient(to top, #8F785E 0%, #5C4E3E 100%);
}

#contain{
  background-image: url('../img/tan.jpg');
  background-size: cover;
  width: 90%;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
}

#contain2{
  background-image: url('../img/bg4.jpg');
  background-size: contain;
  width: 90%;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
}

#pic{
  background-image: url('../img/max.jpg');
  background-size: cover;
  background-position: center;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 2px 2px 2px rgb(156, 156, 156);
  margin: auto;
}

#name1 {
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 25px;
  color: white;
  text-align: center;
  width: 260px;
  height: 80px;
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  background-image: -webkit-gradient(
  	linear,
  	left top,
  	left bottom,
  	color-stop(0, #8F785E),
  	color-stop(1, #5E472D)
  );
  background-image: -o-linear-gradient(bottom, #8F785E 0%, #5E472D 100%);
  background-image: -moz-linear-gradient(bottom, #8F785E 0%, #5E472D 100%);
  background-image: -webkit-linear-gradient(bottom, #8F785E 0%, #5E472D 100%);
  background-image: -ms-linear-gradient(bottom, #8F785E 0%, #5E472D 100%);
  background-image: linear-gradient(to bottom, #8F785E 0%, #5E472D 100%);
}
#name1:before {
  content:"";
  position: absolute;
  bottom: 100%;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 26px solid #8F785E;
}

#name2{
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 25px;
  color: white;
  text-align: center;
  width: 260px;
  height: 80px;
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #949E88),
	color-stop(1, #BCC4B5)
);
background-image: -o-linear-gradient(top, #949E88 0%, #BCC4B5 100%);
background-image: -moz-linear-gradient(top, #949E88 0%, #BCC4B5 100%);
background-image: -webkit-linear-gradient(top, #949E88 0%, #BCC4B5 100%);
background-image: -ms-linear-gradient(top, #949E88 0%, #BCC4B5 100%);
background-image: linear-gradient(to top, #949E88 0%, #BCC4B5 100%);
}

#name2:before{
  content:"";
  position: absolute;
  bottom: 100%;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 26px solid #B3B9AD;
}

.container{
  width: 90%;
  margin: auto;
  padding: 0px;
}

#line{
  border: 1px solid rgb(71, 40, 19);
  margin: 10px auto;
  width: 90%;
}

.section, .side{
  background: none;
  color: rgb(71, 40, 19);
  font-size: 15px;
  padding-top: 10px;
}

//
// #name2 {
//   margin: 20px auto;
//   padding-top: 10px;
//   font-size: 25px;
//   color: white;
//   text-align: center;
//   width: 250px;
// 	height: 60px;
// 	-webkit-transform: skew(20deg);
// 	-moz-transform: skew(20deg);
// 	-o-transform: skew(20deg);
// 	background: black;
// }
//
// #name3 {
//   line-height: 5px;
//   margin: auto;
//   font-size: 25px;
//   color: white;
//   text-align: center;
//   width: 235px;
//   height: 80px;
//   border-left: 25px solid transparent;
//   border-top: 40px solid blue;
//   border-bottom: 40px solid blue;
//   border-right: 25px solid transparent;
// }

.activity {
  margin: 10px 0px;
  font-size: 18px;
  padding: 10px;
  overflow: hidden;
}

.activity:nth-child(odd) {
  background-color: #BCBCBC;
}

.activityname, .activitydate, .activitydescription {
  margin-bottom: 10px;
  diplay: inline-block;
}

.activityname {
  font-weight: bold;
}

// .activitydescription {
//   border-bottom: 1px solid gray;
//   padding-bottom: 5px;
//   border-length: 10px;
// }

#subject, #messagebody {
  margin: auto;
  display: block;
}

#toUser, #fromUser {
  margin-bottom: 10px;
  font-size: 17px;
}

#subject.form-control, #messagebody {
  width: 550px;
  margin-bottom: 10px;
}

.navbar-text {
  padding-top: 5px;
}

a.navbar-text {
  font-size: 17px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  height: 50px;
  padding-right: 20px;
}

.navbar-inverse {
  background-color: #FFF6C4;
  border: none;
  box-shadow: 1px 1px 3px black;
}

.navbar-text {
  color: #9C3158 !important;
  margin: 0px;
}

// .li:hover {
//   background-color: #5E7788 !important;
//   color: #FFF6C4 !important;
// }

.navbar-text:hover {
  color: #FFF6C4 !important;
  background-color: #5E7788 !important;
}

#wrapper {
  margin-top: 200px;
}

// #appname {
//   background-image: url('/img/newDate.svg');
//   width: 600px;
//   height: 150px;
//   //margin-bottom: 200px;
// }
