extends ../shared/template

block content

  h1#messageh1 Message

  #toUser To: #{toUser.name}
  #fromUser From: #{fromUser.name}
  #date= moment().format('MM/DD/YYYY')

  input#subject.form-control(type='text', placeholder='Subject', name='subject')
  textarea(rows='7', placeholder='Type Your Message Here', name='message')#messagebody.form-control

  button.btn.btn-primary#sendmessage Send Message
