extends ../shared/template

block content

  h1#profilesetup Profile Set Up

  #rapper
    #steps
        form#formElem(name='formElem', action='/profile/#{user._id}/setup', method='post', enctype='multipart/form-data')
          fieldset.step
            legend.basics Basics
            p
              label.setup Sex
              select#sex(name='sex')
                option(value='male') Male
                option(value='female') Female
            p
              label.setup Looking For
              select#lookingFor(name='lookingFor')
                option(value='male') Male
                option(value='female') Female
                option(value='male, female') Both
            p
              label.setup.setup Race
              select#race(name='race')
                option(value='white') White
                option(value='black') Black
                option(value='asian') Asian
                option(value='american indian') American Indian
                option(value='pacific islander') Pacific Islander
                option(value='hispanic') Hispanic
                option(value='mixed') Mixed
                option(value='other') Other
            p
              label.setup Religion
              select#religion(name='religion')
                option(value='christian') Christian
                option(value='jewish') Jewish
                option(value='muslim') Muslim
                option(value='hindu') Hindu
                option(value='buddhist') Buddhist
                option(value='atheist') Atheist
                option(value='agnostic') Agnostic
                option(value='other') Other
                option(value='none') None
          fieldset.step
            legend.physical Physical
            p
              label.setup Age
              input#age(name='age' type='number' min='18' placeholder='31')
            p
              label.setup Body Type
              select#bodyType(name='bodyType')
                option(value='slender') Slender
                option(value='petite') Petite
                option(value='fit') Fit
                option(value='athletic') Athletic
                option(value='ripped') Ripped
                option(value='hour glass with extra minutes') Hour Glass With Extra Minutes
                option(value='more to love') More To Love
                option(value='stocky') Stocky
            p
              label.setup Height
              select#height(name='height')
                option(value='under 4-11') Under 4'11"
                option(value='4-11') 4'11"
                option(value='5-0') 5'0"
                option(value='5-1') 5'1"
                option(value='5-2') 5'2"
                option(value='5-3') 5'3"
                option(value='5-4') 5'4"
                option(value='5-5') 5'5"
                option(value='5-6') 5'6"
                option(value='5-7') 5'7"
                option(value='5-8') 5'8"
                option(value='5-9') 5'9"
                option(value='5-10') 5'10"
                option(value='5-11') 5'11"
                option(value='6-0') 6'0"
                option(value='6-1') 6'1"
                option(value='6-2') 6'2"
                option(value='6-3') 6'3"
                option(value='6-4') 6'4"
                option(value='6-5') 6'5"
                option(value='6-5') Above 6'5"
            p
              label.setup Upload a Profile Picture
              input(type='file', name='photo')
          fieldset.step
            legend.about About
            p
              label.setup Tell Us More About Yourself!
              textarea#about(name='about' rows='10' columns='50' placeholder='Hobbies, Favorites, Likes, Dislikes')
          fieldset.step
            legend.account Account - Confirm your information:
            p
              label.setup Name
              input#name(name='name' value='#{user.name}')
            p
              label.setup Email
              input#email(name='email' value='#{user.email}')
            p.submit
              button#registerButton Check Out My Profile!
      #navigation(style='display: none;')
        ul.navigation
          li.selected
            a(href='#') Basics
          li
            a(href='#') Physical
          li
            a(href='#') Description
          li
            a(href='#') Account
