extends ../shared/template

block content
  if(results)
    each result in results
      div.result
        .img(style='background-image: url("#{result.photo}")')
        .resultinfo
          .resultname Name: #{result.name}
          a.resultlink(href='/profile/#{result._id}') View #{result.name}'s Profile
  else
    h1 Sorry, your search did not return any results.
